<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
  </head>

  <body>
    <div class="create-profile-container">
      <div class="profile-card">
        <div class="login-logo">
          <h1>Login</h1>
        </div>
        <div class="user-login-info">
          <div class="username">
            <label for="usernameInput">username</label>
            <input type="text" id="usernameInput" />
          </div>
          <div class="password">
            <label for="passwordInput">password</label>
            <input type="password" id="passwordInput" />
          </div>
        </div>
        <div class="login-button">
          <button>Login</button>
        </div>
        <div class="create-button">
          <button>Create</button>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="login.js"></script>
  </body>
</html>
